# model
CACHE_DIR=data/processed
CHECKPOINT_DIR=checkpoints

TOKEN_FILE=tinystories-1M.bin

MAX_SEQ_LEN=512
VOCAB_SIZE=50257
EMBEDDING_DIM=256
LAYER_NUM=8
DROPOUT=0.1

# dataset
MAX_TOKENS=1_000_000

# train
LEARNING_RATE=3e-4
WEIGHT_DECAY=0.1
NUM_EPOCHS=1
BATCH_SIZE=6
