# model
CACHE_DIR=data/raw
CHECKPOINT_DIR=checkpoints

TOKEN_FILE=pan_tadeusz.bin

MAX_SEQ_LEN=256
VOCAB_SIZE=50257
EMBEDDING_DIM=256
BLOCK_NUM=6


# train
learning_rate=3e-4
weight_decay=0.1
num_epochs=1
batch_size=6